.content {
  margin-top: 20px;
  width: 100%;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.form-group {
  margin-top: 15px;
}
.collapse.navbar-collapse {
  background-color: #242424;
  padding-bottom: 10px;
}
.navbar-brand {
  margin-top: 10px;
  color: #ee932a;
}
.navbar-header {
  background-color: #242424;
  padding-left: 40px;
}
fieldset a:hover {
  text-decoration: none;
}
section {
  position: relative;
}
/*.SignUpForm {
  -webkit-transition: top 2s ease;
  -moz-transition: top 2s ease;
  -o-transition: top 2s ease;
  -ms-transition: top 2s ease;
  transition: top 2s ease;
  position: absolute;
  z-index: 2000;
  top: 1270px;
  height: 400px;
  background-color: #242424;
  border-radius: 10px;
}*/
/*Reduce by tenth --> continued doing that after the first time 
*/
.SignUpForm {
  -webkit-transition: top 2s ease;
  -moz-transition: top 2s ease;
  -o-transition: top 2s ease;
  -ms-transition: top 2s ease;
  transition: top 2s ease;
  position: absolute;
  z-index: 2000;
  top: 1270px;
  height: 360px;
  background-color: #242424;
  border-radius: 10px;
}
.SignUpForm .box {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box:before,
.box:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.box:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.SignUpForm .form-group input {
  background-color: #F8F7EB;
}
.SignUpForm .form-group label {
  color: #F8F7EB;
}
.home {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
.home:hover .SignUpForm {
  top: 270px;
}
#bg-video {
  overflow:hidden;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: -998;
}
video {
  display: block;
  overflow-y: hidden;
}
.videojs-background-wrap {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -998;
}
/*.home input[type=text],
.home input[type=email],
.home input[type=password] {
  height: 25px;
  width: 170px;
  margin: auto;
}*/
/*Reduced key values by tenth ---> did that twice 
*/
.home input[type=text],
.home input[type=email],
.home input[type=password] {
  height: 20.25px;
  width: 138px;
  margin: auto;
}
.home .box button {
  margin: auto;
  position: relative;
  top: 4px;
}
.SignUpForm .btn {
  padding: 4.9 9.7;
  font-size: 11.4;
}.content {
  margin-top: 20px;
}
.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.form-group {
  margin-top: 15px;
}

.collapse.navbar-collapse {
  background-color: #242424;
  padding-bottom: 10px;
}

.navbar-brand {
  margin-top: 10px;
  color: #ee932a;
}
.navbar-header {
  background-color: #242424;
  padding-left: 40px; 
}

fieldset a:hover {
  text-decoration: none;
}
section {
  position: relative;
}

.transition(@prop: top, @time: 2s, @ease: ease){
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

.SignUpForm {
 .transition(top, 2s, ease);
  position: absolute;
  top: 1270px;
  z-index: 2000;
  height: 360px;
  background-color: #242424;
  border-radius: 10px;
}


.SignUpForm .box {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.box:before, .box:after{
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8); 
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
   box-shadow:0 0 20px rgba(0,0,0,0.8);
   left:0;
   right:0;
   -moz-border-radius:100px / 10px;
   border-radius:100px / 10px;
}

.box:after{
  right:10px; 
      left:auto;
      -webkit-transform:skew(8deg) rotate(3deg); 
      -moz-transform:skew(8deg) rotate(3deg);     
      -ms-transform:skew(8deg) rotate(3deg);     
      -o-transform:skew(8deg) rotate(3deg); 
      transform:skew(8deg) rotate(3deg);
}

.SignUpForm .form-group input {
  background-color: #F8F7EB;
}
.SignUpForm .form-group label {
  color: #F8F7EB; 
}
.home {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  &:hover{
        .SignUpForm{ 
           top: 270px;
       }
  }
}
#bg-video {
  overflow: hidden;
  position: absolute;
/*  height:100%;
  width:100%;*/
  top:0;
  left:0;
  z-index: -998;
}
video {
  display: block;
  overflow-y: hidden;
}
.home input[type=text], .home input[type=email], .home input[type=password] {
  height: 20.25px;
  width: 138px;
  margin: auto;
}

.home .box button {
  margin: auto;
  position: relative;
  top: 4px;
}
