.content {
	margin-top: 0;
}
.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.form-group {
	margin-top: 15px;
}

.collapse.navbar-collapse {
	background-color: #242424;
}

.navbar-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ee932a;
}
.navbar-header {
	background-color: #242424;
	padding-left: 40px;	
}

fieldset a:hover {
	text-decoration: none;
}
section {
	position: relative;
}

.SignUpForm {
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	-o-transition: top 2s;
	transition-property: top 2s;
	position: absolute;
	z-index: 10;
	top: 910px;
	height: 400px;
	background-color: #242424;
	border-radius: 10px;
}


.SignUpForm .box {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box:before, .box:after{
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8); 
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
 	 box-shadow:0 0 20px rgba(0,0,0,0.8);
    	 left:0;
      	 right:0;
    	-moz-border-radius:100px / 10px;
    	 border-radius:100px / 10px;
}

.box:after{
	right:10px; 
    	left:auto;
    	-webkit-transform:skew(8deg) rotate(3deg); 
       	-moz-transform:skew(8deg) rotate(3deg);     
        	-ms-transform:skew(8deg) rotate(3deg);     
         	-o-transform:skew(8deg) rotate(3deg); 
           transform:skew(8deg) rotate(3deg);
}

.SignUpForm .form-group input {
	background-color: #F8F7EB;
}
.SignUpForm .form-group label {
	color: #F8F7EB;
}

.home {
	overflow-y: hidden;
	height: 100%;
}
.newvideo { 
	display: block;
	margin-top: 20px;
	width: 100%;
}

.home input[type=text], .home input[type=email], .home input[type=password] {
	height: 25px;
	width: 170px;
	margin: auto;
}
.home .SignUpForm button {
	margin: auto;
	padding-top: 10px;	
}